@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* slate-900 */
}

::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; /* slate-600 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* リストの長さの半分（＝1セット分）移動したら瞬時に0に戻る */
    transform: translateX(-50%);
  }
}

.animate-scroll {
  /* w-max でコンテンツ幅に合わせて横に伸びるようにする */
  width: max-content;
  animation: scroll 200s linear infinite;
}

/* ホバー時にアニメーションを一時停止させたい場合はコメントアウトを外す */
/* .animate-scroll:hover {
  animation-play-state: paused;
} 
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
